function Main.main 1
push constant 0
push constant 0
push constant 20
call MyClass.new 3
pop local 0
push local 0
call MyClass.run 1
pop temp 0
push local 0
call MyClass.dispose 1
pop temp 0
push constant 0
return
